<div data-ng-controller="UpdateStudentController">
	<form>
		<div class="container">
			<h2>Update Student Details</h2>
			<br />

			<div class="col-md-12">

				<label class=""><strong> Student Name:</strong></label>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Student Name"
						autofocus="autofocus" data-ng-model="details.name">
				</div>
			</div>

			<div class="col-md-12">

				<label class=""><strong> Student ID:</strong></label>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Student ID"
						autofocus="autofocus" data-ng-model="details.studentID">
				</div>
			</div>

			<div class="col-md-12">

				<label class=""><strong> Student Address:</strong></label>

				<div class="form-group">
					<input type="text" class="form-control"
						placeholder="Student Address" autofocus="autofocus"
						data-ng-model="details.address">
				</div>
			</div>


			<div class="col-md-12">

				<label class=""><strong> Student Mark:</strong></label>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Student Mark"
						autofocus="autofocus" data-ng-model="details.mark">
				</div>
			</div>

			<div class="col-md-2" align="center">
				<div class="form-group">
					<button type="button" data-ng-click="submitdetails()"
						class="btn btn-primary">Update</button>

					<button type="button" data-ng-click="cancel()"
						class="btn btn-primary">Cancel</button>


				</div>
			</div>

		</div>
	</form>
</div>



